#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config RAILAB_MINIMAL_COMPONENTS2
	tristate "Minimal NuttX components example 2"
	default n
	---help---
		Enable the minimal NuttX components example 2

if RAILAB_MINIMAL_COMPONENTS2

config RAILAB_MINIMAL_COMPONENTS2_STACKSIZE
	int "App stack size"
	default DEFAULT_TASK_STACKSIZE

config RAILAB_MINIMAL_COMPONENTS2_TIMERFD
	bool "Enable timers"
	default n
	depends on TIMER_FD

config RAILAB_MINIMAL_COMPONENTS2_POLL
	bool "Enable poll interface"
	depends on RAILAB_MINIMAL_COMPONENTS2_TIMERFD
	depends on TIMER_FD_POLL
	default n

config RAILAB_MINIMAL_COMPONENTS2_EPOLL
	bool "Enable poll interface"
	depends on RAILAB_MINIMAL_COMPONENTS2_TIMERFD
	default n

endif # RAILAB_MINIMAL_COMPONENTS2
